body {
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #f99157;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}

a {
	color: #66cccc;
}

#canvas-wrapper {
	-webkit-animation: scroll 30s linear infinite;
	background: url(/images/stars.png);
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	width: 1200px;
	height: 675px;
	margin: auto;
	margin-top: 20px;
}

canvas {
	-webkit-animation: scroll 20s linear infinite;
	background: url(/images/stars-2.png);
	border-radius: 5px;
	position: relative;
}

canvas,
#canvas-wrapper {
	-webkit-animation-play-state: paused;
}

.animate canvas,
.animate #canvas-wrapper {
	-webkit-animation-play-state: running;
}

@-webkit-keyframes scroll {
  0%   { background-position: 0 0; }
  100% { background-position: 0 637px; }
}